services:
  # PHP-FPM + Laravel
  app:
    image: php:8.2-fpm
    container_name: laravel_app
    working_dir: /var/www/html
    volumes:
      - ./backend:/var/www/html
    networks:
      - app-network
    depends_on:
      - db

  # Nginx
  web:
    image: nginx:alpine
    container_name: nginx_web
    ports:
      - "8080:80"  # ホストの80番が競合する場合は8080に
    volumes:
      - ./backend:/var/www/html
      - ./nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - app-network

  # MySQL
  db:
    image: mysql:8.1
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
    ports:
      - "3306:3306"
    networks:
      - app-network

  # Vue (Vite)
  vue:
    image: node:20
    container_name: vue_node
    working_dir: /app
    volumes:
      - ./frontend:/app
    ports:
      - "5173:5173"
    command: ["npm", "run", "dev"]
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
