version: '3.8'

services:
  # Laravel PHP-FPM
  app:
    image: php:8.2-fpm
    container_name: laravel_app
    working_dir: /var/www/backend
    volumes:
      - ./backend:/var/www/backend
      - ./backend/vendor:/var/www/backend/vendor
    ports:
      - "8000:8000"
    networks:
      - app-network
    depends_on:
      - db


  # Node.js for Vue + Vite
  node:
    image: node:20
    container_name: vue_node
    working_dir: /var/www/frontend
    volumes:
      - ./frontend:/var/www/frontend
    command: sh -c "npm install && npm run dev"
   # docker-compose.yml
    ports:
      - "5174:5174"
    networks:
      - app-network

  # Nginx
  web:
    image: nginx:alpine
    container_name: nginx_web
    volumes:
      - ./backend:/var/www/backend
      - ./frontend:/var/www/frontend
      - ./nginx/conf.d:/etc/nginx/conf.d
    ports:
      - "80:80"
    depends_on:
      - app
      - node
    networks:
      - app-network

  # MySQL
  db:
    image: mysql:8.1
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  dbdata:
